* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.logo {
  cursor: pointer;
}

.logo-title {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
}

.logo-title a {
  color: #171717;
}
.logo-title a span {
  color: #023e8a;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  display: flex;
  list-style: none;
  gap: 40px;
  align-items: center;

  .login a {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #0282db;
  }

  .login:hover {
    text-decoration: underline;
    color: #0282db;
  }
}

main {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  font-family: "Poppins", sans-serif;

  .login {
    width: 40%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0282db;
    padding: 10px;
    border-radius: 8px;

    .title-form {
      color: #fff;
    }

    .form-content {
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .inputs-section input {
          width: 100%;
          height: 30px;
          padding: 0 10px;
          border-radius: 4px;
          border: 1px solid #0282db;
          font-family: "Poppins", sans-serif;
          font-size: 14px;
        }

        .inputs-section label {
          color: #fff;
        }

        .submit-section {
          width: 100%;
          display: flex;
          justify-content: center;

          button {
            width: 100px;
            font-size: 18px;
            font-family: "Poppins", sans-serif;
            background-color: transparent;
            border: 1px solid #fff;
            border-radius: 5px;
            color: #fff;
            padding: 5px 10px;
            cursor: pointer;
          }
          button:hover {
            border: 1px solid #171717;
            transition: 0.5s ease-in-out;
            box-shadow: inset 6.5em 0 0 0 #023e8a;
          }
        }
      }
    }
  }
}

.link-lg-cadastrar:hover {
  text-decoration: underline;
}

footer {
  font-family: "Open-Sans", sans-serif;
  font-weight: 500;
  width: 100%;
  height: auto;
  padding: 20px 100px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Extra pequeno */
@media screen and (max-width: 575px) {
  header {
    padding: 0 20px;
  }

  main {
    padding: 0 20px;
    p {
      text-align: center;
    }
  }

  main .login {
    width: 100%;
    padding: 0 20px;

    .form-content {
      padding: 0;
    }
  }

  footer {
    text-align: center;
    padding: 20px;
  }
}
/* o Pequeno (SM) - Telefones Médios e Tablets Pequenos: • Largura: De 576 pixels a 767 pixels. */
@media screen and (min-width: 576px) and (max-width: 767px) {
  main {
    padding: 0 100px;
    p {
      text-align: center;
    }
  }

  main .login {
    min-width: 400px;
    padding: 0 20px;

    .form-content {
      padding: 0;
    }
  }

  footer {
    text-align: center;
    padding: 20px;
  }
}

/* o Médio (MD) - Tablets e Laptops: • Largura: De 768 pixels a 991 pixels. */
@media screen and (min-width: 768px) and (max-width: 991px) {
  main .login {
    min-width: 400px;
    padding: 0 20px;

    .form-content {
      padding: 0;
    }
  }
}

/* o Grande (LG) - Desktops Médios: Largura: De 992 pixels a 1199 pixels. */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  main .login {
    min-width: 400px;
    padding: 0 20px;

    .form-content {
      padding: 0;
    }
  }
}

/* o Extra Grande (XL) - Desktops Grandes: Largura: 1200 pixels ou mais. */
@media screen and (min-width: 1200px) {
  main .login {
    min-width: 600px;
  }
}
