body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.logo a{
    color: white;
    text-decoration: none;
}

nav{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li{
    margin-right: 20px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main{
    padding: 50px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}

.text-content{
    text-align: center;
    margin-bottom: 50px;
}

.text-content h1{
    font-size: 20px;
    margin-bottom: 20px;
}

.text-content h2{
    font-size: 20px;
    margin-bottom: 20px;
}

.btn-cadastrar{
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.img-content{
    width: 400px;
    height: auto;
}

.img-content img{
    width: 100%;
    height: auto;
}

@media (max-width: 768px){
    main{
        flex-direction: column;
    }
    .content{
        max-width: 100%;
    }
    .img-content{
        width: 100%;
    }
}